@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset css */
@charset "UTF-8";
html {
  font-size: 100%;
}
body {
  @apply text-primary;
  font-family: 'Meiryo', sans-serif;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* custom */
.wrapper {
  max-width: 960px;
  padding: 0 4%;
  margin: 0 auto 100px auto;
  text-align: center;
}
